.talksList {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
    justify-content: center;
    padding: 4px;
}

.talkContent {
    width: 340px;
    height: 40px;
    max-height: 400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 0.6rem;
    color: var(--brow-700);
}

.talk, .talkMe {
    display: flex;
    align-items: center;
    width: max-content;
    margin: 0.8rem auto;
    justify-content: center;

    padding: 1rem;
    border-radius: 0.5rem;

    &:hover {
        filter: brightness(1.1);
    }

    cursor: pointer;
}

.talkMe {
    background: var(--purple-700);
}

.talk {
    background: var(--purple-900);
}

.userImage {
    img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
}

.prevText {
    color: var(--white);
    font-size: 0.8rem;
}
