.sendMessageForm {

    justify-content: center;
}

.sendMessageFormBox{
    display: flex;
    align-items: center;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: 0.8rem auto;
    justify-content: center;
    padding: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.button{
    background: var(--purple-700);
    border: 0;
    height: 2rem;
    color: var(--white);
    padding: 4px;
    align-items: center;
    justify-content: center;

    &:hover{
        filter: brightness(0.9);
    }

    height: 40px;
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
    font-weight: bold;
}

.input {
    width: 390px;
    height: 40px;
    padding: 4px;

    &:focus{
        outline: none;
    }

    &::placeholder{
        color: var(--gray);
    }
}
